/* ===== Styles ==================================================
   Author: amit kumar dueby - Pramati Technology
========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
html {
    color: #222222;
    ffont: 13px/20px Verdana, sans-serif, Arial, Helvetica;
    line-height: 1.4;
}
body {
    font: 13px/20px Verdana, sans-serif, Arial, Helvetica;
    margin: 0;
}
a:active,
a:hover {
    outline: 0;
}
img {
    border: 0;
}
.bg-img {
    background: url('../images/Photo7-min.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}
/* ===============
    ALL: IE Fixes goes here
=============== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header {
    padding-top: 10px;
    height: 97px;
}
main {
    background-color: transparent;
    overflow: hidden;
    padding-bottom: 60px;
}
main .title {
    text-align: center;
}
main h1 {
    color: #FFFFFF;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 35px;
    width: 100%;
    text-align: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes effects {
    0% {
        transform-origin: 0% 100%;
        transform: perspective(1000px) rotateX(90deg);
        transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
        backface-visibility: hidden;
        visibility: hidden;
        transition-delay: 1s;
    }
    100% {
        transform: perspective(1000px) rotateX(0deg);
        visibility: visible;
        transition-delay: 1s;
    }
}
#login {
    background: url('../images/new1.png') repeat;
    padding: 20px;
    margin: 63px auto 0px;
    text-align: center;
    width: 35%;
    height: auto;
    animation-name: fadeIn;
    animation-duration: 2s;
}
#login.active {
    height: auto;
}
.from1 {
    animation-name: effects;
    animation-duration: 1s;
}
.from-box {
    width: 100%;
}
.from1 input[type=text],
.from1 input[type=email],
.from1 input[type=password] {
    width: 93%;
    margin: 5px auto;
    padding: 16px 10px;
    background-color: #e9e9e9;
    border: 1px solid #444;
    border-radius: 4px;
    color: #a6a6a5;
    font-size: 18px;
    font-weight: 100;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: #666 1px 1px 2px;
    -moz-box-shadow: #666 1px 1px 2px;
    box-shadow: #666 1px 1px 2px;
    background: #FFFFFF;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#FFFFFF));
    background: -webkit-linear-gradient(#FFFFFF, #FFFFFF);
    background: -moz-linear-gradient(#FFFFFF, #FFFFFF);
    background: -ms-linear-gradient(#FFFFFF, #FFFFFF);
    background: -o-linear-gradient(#FFFFFF, #FFFFFF);
    background: linear-gradient(#FFFFFF, #FFFFFF);
    -pie-background: linear-gradient(#FFFFFF, #FFFFFF);
    behavior: url(/pie/PIE.htc);
}
.from1 input[type=submit],
.from1 input[type=button],
.from1 button {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    width: 98%;
    margin: 5px auto;
    font-size: 15px;
    font-weight: 500;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #e9ebee;
    padding: 15px 40px;
    background-color: #000000;
}
.from1 input[type=button],
.from1 button {
    background-color: #2cc36b;
    z-index: 1;
}
.from1 input[type=submit]:hover {
    background-color: #ffffff;
    color: #333333;
}
.from1 input[type=button]:hover,
.from1 button:hover {
    background-color: #93d8b0;
    color: #000000;
}
/* Tool Tip Here ---> */
/*Tool Tip with the css animation */

.mobile-view {
    display: none;
    visibility: hidden;
}
.desktop-view {
    display: block;
    visibility: visible;
}
.icon-info-clock {
    position: relative;
    z-index: 999;
}
.icon-info-clock i {
    border-radius: 20px;
    border: 1px solid #fff;
    height: 18px;
    width: 18px;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 21px;
    right: 60px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.icon-info-clock i:before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 6px;
    left: 48%;
    height: 10px;
    width: 2px;
    border-radius: 5px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.icon-info-clock i:hover::before {
    background-color: #000;
    height: 16px;
    left: 44%;
}
.icon-info-clock i:after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 2px;
    left: 48%;
    height: 2px;
    width: 2px;
    border-radius: 5px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.icon-info-clock i:hover::after {
    background-color: #000;
    left: 44%;
}
.icon-info-clock i a {
    position: absolute;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    cursor: pointer;
    top: -48px;
    right: -20px;
    width: 306px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    padding: 8px 5px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.icon-info-clock .arrow-down {
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    display: inline-block;
    position: absolute;
    right: -3px;
    top: -13px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.icon-info-clock i:hover .arrow-down {
    visibility: visible;
    opacity: 1;
    right: 0px;
}
.icon-info-clock i:hover a {
    visibility: visible;
    opacity: 1;
}
.icon-info-clock i:hover {
    border: 2px solid #000;
    height: 25px;
    width: 25px;
}
/* Tool Tip Here ---> */

footer {
    background-color: #e9ebee;
    color: #333333;
    border-top: 1px solid #00A8E8;
    overflow: hidden;
    -webkit-box-shadow: 0px -1px 16px -1px rgba(0, 168, 232, 1);
    -moz-box-shadow: 0px -1px 16px -1px rgba(0, 168, 232, 1);
    box-shadow: 0px -1px 16px -1px rgba(0, 168, 232, 1);
}
.footer-content {
    font-family: Montserrat, ​Arial, ​Helvetica, ​sans-serif;
    padding: 20px 0;
    float: left;
}
/* ==============
    MOBILE: Main
   ============== */
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) and (max-width: 640px) {
    main .title {
        text-align: center;
    }
    main .title h1 {
        font-size: 25px;
        line-height: 32px;
        margin: 5px 0;
        text-align: center;
        width: 100%;
    }
    #login {
        margin-bottom: 10px;
        width: 96%;
        padding: 2%;
    }
    .wrapper {
        width: 96%;
        margin: 0;
    }
    .from1 input[type=text],
    .from1 input[type=email],
    .from1 input[type=password],
    .from1 button {
        padding: 10px 5px;
        font-size: 13px;
    }
    .from1 input[type=submit],
    .from1 input[type=button],
    .from1 button {
        padding: 10px 5px;
        width: 97%;
        font-size: 13px;
    }
    .icon-info-clock i {
        right: 22px;
        top: 18px;
    }
    .icon-info-clock i a {
        top: -69px;
        right: -20px;
        width: 200px;
    }
    .footer-content {
        padding: 15px;
    }
    /*Only for mobile view to remove animation */
    
    .mobile-view {
        display: block;
        visibility: visible;
    }
    .desktop-view {
        display: none;
        visibility: hidden;
    }
    .icon-info {
        position: relative;
        z-index: 999;
    }
    .icon-info i {
        background: url('../images/info.png') no-repeat;
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        vertical-align: text-top;
        display: inline-block;
        position: absolute;
        right: 50px;
        top: 18px;
    }
    .icon-info i:hover .arrow-down {
        visibility: visible;
    }
    .icon-info i:hover a {
        visibility: visible;
    }
    .icon-info i a {
        visibility: hidden;
        position: absolute;
        color: #000;
        cursor: pointer;
        font-size: 12px;
        cursor: pointer;
        top: -48px;
        right: -41px;
        width: 306px;
        background: #fff;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        text-align: center;
        padding: 8px 5px;
    }
    .arrow-down {
        width: 0px;
        height: 0px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #fff;
        display: inline-block;
        position: absolute;
        top: -13px;
        right: -2px;
        visibility: hidden;
    }
    /*Only for mobile view to remove animation */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #login {
        width: 60%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #login {
        width: 44%;
    }
}
@media only screen and (min-width: 768px) {
    /* ===============
    Maximal Width
   =============== */
    
    .wrapper {
        width: 90%;
        /* 1140px - 10% for margins */
        
        margin: 0 auto;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {}