<div class="header row">
       
         <div class='span12'>
            <h1 class="heading">Reddit</h1>
         </div>
         <div class="row">
            <div class="wrapper span12 navbar">
               <div class="navbar-inner">
                  <ul class="nav">
                     <li class="active">
                        <a href="#/index" >Home</a>
                     </li>
                     <li>
                        <a href="#/reddit.com" title="Using Angular 1.5 go to reddit.com" >Reddit.com</a>
                     </li>
                  </ul>
                   
               </div>
            </div>
         </div>
      </div>